<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginwithauth">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AirwavePH App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginwithAuth">
        <activity
            android:name=".OtherConcerns"
            android:exported="false" />
        <activity
            android:name=".TicketingTech"
            android:exported="false" />
        <activity
            android:name=".TicketingIT"
            android:exported="false" />
        <activity
            android:name=".TicketAccounting"
            android:exported="false" />
        <activity
            android:name=".Inbox"
            android:exported="false" />
        <activity
            android:name=".HelpPage"
            android:exported="false"
            android:label="@string/title_activity_help_page"
            android:theme="@style/Theme.LoginwithAuth.NoActionBar" />
        <activity
            android:name=".Ticketing"
            android:exported="false" />
        <activity
            android:name=".RequestSOA"
            android:exported="false" />
        <activity
            android:name=".Newsletter"
            android:exported="false" />
        <activity
            android:name=".PlanUpdown"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:label="User Profile" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="Create Account" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>